*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}
html,body{
    height: 100%;
}

body{
    background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
}
body,input,button{
    font-family: "DM Sans", sans-serif;
}


.screen1{
    display: block;
}
.screen2{
    display: none;
}

/*screen 1*/
main{
    width: min(42.8rem, 90%);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    box-shadow: 0px .2rem .4rem rgba(0,0,0,0.1);
    border-radius: .6rem;
    padding: 4.6rem 6.4rem 6.4rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}
h1,p{
    text-align: center;
    color: #34355B;
}
p{
    opacity: 0.8;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
}

input,button{
    border: none;
    padding: 1.6rem;
}

input{
    width: 5rem;
    background-color: #DCE2E9;
    border-radius: .4rem 0 0 .4rem;
    text-align: center;
    font-size: 1.7rem;
    
}
input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

button{
    background-color: #7879F1;
    color: white;
    font-weight: bold;
    border-radius: 0 .4rem .4rem 0px;
    cursor: pointer;

    transition: background .2s;
}
button:hover{
    background-color: #6363ce;
}
button:focus{
    box-shadow: none;
}

div{
    position: absolute;
}

/*screen 2*/


h2{
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 3.3rem;
}

.screen2 button{
    position: relative;
    right: -50%;
    transform: translate(-50%);
    border-radius: .4rem;
}
