*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --hue: 194;
    --bg-color: hsla(var(--hue), 5%, 7%);
    --text-color: hsla(var(--hue), 40%, 98%);
    --primary-color: hsla(var(--hue), 100%, 63%);
    --controls-bg-color: hsla(var(--hue), 0%, 14%);
    --button-secondary: hsla(var(--hue), 40%, 98%);

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}
html.light{
    --text-color: hsla(var(--hue), 5%, 7%);
    --bg-color: hsla(var(--hue), 40%, 98%);
}
html.light .ph-sun,
html:not(.light) .ph-moon{
    display: none;
}

#toggle-mode{
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;

    font-size: 3.2rem;
    line-height: 0;

    color: var(--text-color);
}
#toggle-mode:hover{
    transform: translate(-1%, -5%);
    font-size: 3.6rem;
    transition: .1s ease;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    
    display: grid;
    place-content: center;
    height: 100vh;
    transition: .1s ease;
}

#app{
    display: grid;
    justify-items: center;
}

.flex{
    display: flex;
}

#timer{
    font-family: sans-serif;
    font-size: 9.6rem;
    font-weight: bold;
}

#controls{
    margin: 1.6rem;
    padding: 2.2rem 4rem;
    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 99rem;
}
button{
    background:none;
    border: 0;
    color: var(--primary-color);

    cursor: pointer;

    font-size: 6.4rem;
}

.secondary{
    color: var(--button-secondary);
}

/*Controls*/

.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high{
    display: none;
}
